adblockparser==0.7
asgiref==3.4.1
beautifulsoup4==4.10.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
cheroot==8.5.2
CherryPy==18.6.1
cherrypy-cors==1.6
cryptography==3.4.8
Django==3.2.9
django-ckeditor==6.1.0
django-js-asset==1.2.2
dnspython==2.1.0
et-xmlfile==1.1.0
ExifRead==2.3.2
future==0.18.2
httpagentparser==1.9.1
idna==3.3
ipaddr==2.2.0
ipwhois==1.1.0
jaraco.classes==3.2.1
jaraco.collections==3.4.0
jaraco.functools==3.4.0
jaraco.text==3.6.0
lxml==4.6.4
Mako==1.1.5
MarkupSafe==2.0.1
more-itertools==8.10.0
netaddr==0.8.0
networkx==2.6.3
openpyxl==3.0.9
phonenumbers==8.12.36
Pillow==8.4.0
portend==3.0.0
publicsuffixlist==0.7.10
pycparser==2.20
pygexf==0.2.2
pyOpenSSL==21.0.0
PyPDF2==1.26.0
PySocks==1.7.1
python-docx==0.8.11
python-pptx==0.6.21
python-whois==0.7.3
pytz==2021.3
pywin32==302
requests==2.26.0
secure==0.3.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.2
tempora==4.1.2
urllib3==1.26.7
whitenoise==5.3.0
XlsxWriter==3.0.2
zc.lockfile==2.0
